body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #58afdf1a;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  color: white; 
  
}



.container {
  max-width: 800px;
  margin: 80px auto;
}

h2 {
  color: rgb(50, 221, 96);
  font-size:35px;
}

p {
  color: #9b9dad;
  font-size:15px;
}

/* Login Page Styles */
.login-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
  text-align: center;
}

.login-container h2 {
  color: #007bff;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 5px;
  color: #495057;
}

.login-container input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.login-container button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0056b3;
}


/* AboutUs.css */
.Abou-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

About-h2 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

About-p {
  color: #555;
  line-height: 1.6;
}

About-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

About-li {
  margin-bottom: 10px;
}

/* Key features */
.About-key-features {
  margin-top: 30px;
}

.key-features h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.key-features ul {
  margin-left: 20px;
}

/* Contact information */
.contact-info {
  margin-top: 30px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.contact-info h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 15px;
}



/* ABOUT.JS */



.about-us-overlay{
  position:absolute;
  width:100%;
  margin-top:50px;
  padding:0px;
  left:0%;
  top:0.9%;
  z-index: -1;
  
}
.about-us-overlay .overlay-image{
  width: 100%;
  height: auto;
  display: block;
  
}
.about-us-content{
  margin-top:450px;
  
}

.overlay-content{
  position:absolute;
  top:30%;
  right:5%;
}

h3{
  color:rgb(231, 122, 122);
  padding-top:18%;
  font-size:80px
}
.about-us-content{
  position: relative;
  font-size: 20px;
 
}

/* --------------- LOGIN ---------------------------------- */

.login-container{
  overflow: hidden;
  background-image: url("./Banner/bg-0417f9d0.svg");
  background-size: cover;
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  z-index:-1;
  color:black;
}

.login-form{
  color:black;
  position:absolute;
  border-radius: 30px;
  padding-left:120px;
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom: 60px;
  box-shadow:9px 6px 18px rgba(0,0,0,.9),2px 2px 4px rgba(0,0,0,.9), 4px 4px 8px rgba(0,0,0,.9), 8px 8px 16px rgba(0,0,0,.9);
  top:18%;  
  left: 30%;
}

.login-container{
  overflow:hidden;
}

.login-form h2{
  text-align: left;
  color: black;
}

.login-content input{
  margin-bottom: 20px;
  margin-top:10px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 2px solid white;
  font-size:24px;
  color: black;
}

.login-content label{
  font-size:24px;
  font-weight: bold;
  color:black;
}


.login-container button{
  position:relative;
  padding-top:10px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom:10px;
  font-size:18px;
  border-radius: 10px;
  border: 1px solid transparent;
  bottom:-30px;
  background-color: #1e1f26;
  color:white;
  font-size:24px;
  font-weight: bold;
  cursor: pointer;
  left:20px;

}

/* --------------------------------------------------------------------- */

.signup{
  overflow: hidden;
  background-image: url("./images/35514484_geometric_pattern_navy_background.jpg");
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  z-index:-1;
}


.signup-form{
  position:fixed;
  border-radius: 30px;
  padding-left:120px;
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom: 60px;
  box-shadow:9px 6px 18px rgba(0,0,0,.9),2px 2px 4px rgba(0,0,0,.9), 4px 4px 8px rgba(0,0,0,.9), 8px 8px 16px rgba(0,0,0,.9);
  top:15%;  
}
.signup-form h2{
  text-align: left;
}

.signup-content input{
  
  margin-bottom: 20px;
  margin-top:10px;
  padding:8px 10px 12px 30px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 2px solid white;
  font-size:24px;
  color: white;
}
.signup-content label{
  font-size:24px;
  font-weight: bold;
}

.signup button{
  position:relative;
  padding-top:10px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom:10px;
  font-size:18px;
  border-radius: 10px;
  border: 1px solid transparent;
  bottom:-30px;
  background-color: #1e1f26;
  color:white;
  font-size:24px;
  font-weight: bold;
  cursor: pointer;
  left:20px;

}

.signup button:hover{
  background-color:white;
  color:#1e1f26;
}

.signup input:focus{
  background-color:#717790;
}


.heading-content p{
  font-size:38px;
  color:white;
}

.content p{
  font-size:20px;
  color:#000000;
}

.about-us-content{
  background-color:#000000b3 ;
  padding-left:30px;
  padding-right:30px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 30px;
  box-shadow:9px 6px 18px rgba(0,0,0,.9),2px 2px 4px rgba(0,0,0,.9), 4px 4px 8px rgba(0,0,0,.9), 8px 8px 16px rgba(0,0,0,.9);

}
